h1{
  text-align: center;
  text-transform: uppercase;
}

#required{
  color: red;
  font-size: .75em;
  text-transform: uppercase;
}

h4{
  text-align: center;
}

.hidden{
  display: none;
}
.jumbotron{
  background-color: black;
  color: white;
  border-radius: 0 0 .3rem .3rem;
}

ul{
list-style: none;
font-weight: bold;
}

.beep{
  color: orange;
  font-stretch: ultra-expanded;
  font-family: monospace;
  font-weight: bolder;
  font-size: 2.25em;
  text-transform: uppercase;

}
.boop{
  color: green;
  font-stretch: ultra-expanded;
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.25em;
  letter-spacing: 1em;
  text-transform: uppercase;
  text-align: right;
}

.dave{
  color: grey;
  font-family: serif;
  font-weight: bolder;
  font-size: 1.25em;
  text-align: center;
}
